<form method="post" role="form" action=" " class="login-form">{% csrf_token %}
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="modal-register-label">
                            <span style="color:#009688">Login Now</span>
                        </h3>
                        <p>Login to get access:</p>
                    </div>
    {% if form.errors %}
        <p style="color: red">Your username and password didn't match. Please try again.</p>
    {% endif %}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% if field.help_text %}
              <p><small style="color: grey">{{ field.help_text }}</small></p>
            {% endif %}
          </p>
        {% endfor %}
    <div class="fieldWrapper form-group has-feedback">
        <label class="control-label sr-only" for="id_username">User name</label>
            <input type="text"
                   name="username"
                   placeholder="User name..."
                   class="form-last-name form-control mod"
                   id="{{ form.username.id_for_label }}"
                   value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                   required>
            {% if form.username.errors %}
                                <div class="alert alert-danger">
                                    {{ form.username.errors }}
                                </div>
                            {% endif %}
                            <p>
                                {{ form.username.errors }}
                            </p>
                        </div>
                        <div class="fieldWrapper form-group has-feedback">
                            <label class="control-label sr-only" for="id_password">Password</label>
                            <input type="password"
                                   name="password"
                                   placeholder="Password..."
                                   class="id_password form-control mod"
                                   id="{{ form.password.id_for_label }}"
                                   value="{% if form.password.value %}{{ form.password.value }}{% endif %}"
                                   required onclick="function checkPass() {
                                     {% if form.password.errors %}
                                        {{ form.password.errors }}
                                     {% endif %}
                                   }">
                            {% if form.password.errors %}
                                <div class="alert alert-danger">
                                    {{ form.password.errors }}
                                </div>
                            {% endif %}
                            <p>
                                {{ form.password.errors }}
                            </p>
                        </div>
                        <button type="submit" class="btn mod">Log me in!</button>
</form>