{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block content %}
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
        <style>

            html,body{

                width:100%;
                height: 100%;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin:0;
                padding:0;
            }



        </style>
    {% endblock style %}

<form method="post">
    <h2>Login</h2>
    {% csrf_token %}
    {{ form.as_p }}

      <button type="submit">Login</button>
  </form>








{% endblock %}