{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% block style %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
        <style>

            html,body{
                background-image: url({% static 'images/To do.png'%});
                width:100%;
                height: 100%;
                -moz-background-size: cover;
                -webkit-background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin:0;
                padding:0;



            }
            .page-header {

                 color: #110302;
                 border-bottom:0px solid #eeeeee;
                 padding: 20px 20px 20px 40px;
                 margin: 0px 0px 0px;}

           form, button{color:black;}
        </style>
{% endblock style %}

  <form method="post">
    <h2>Sign up</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
